[Unit]
Description=mos-vis voice interactive server
After=network.target sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mos_vis_server --config /etc/mos_vis/config.json
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
